<div class="login-page">
    <form action="/login" method="POST">
      <img src="./images/GitHub.png" alt="GitHub Logo" class="github-logo">
      <h1>Sign In</h1>
      <p>sign in with your account</p>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
      <p>Belum punya akun? <a href="/signup">Daftar di sini</a></p>
    </form>
  </div>
  